.main-block {
    margin: 0 auto;
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
}

.content {
    border: 1px solid black;
    border-radius: 5px;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-item {
    margin: 5px 0 0 5px;
}

.chat-item.me {
    margin-left: auto;
}

.selected {
    background-color: #eaeaea;
}

